<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mi Perfil</title>
  {% load static %}
  <link href="{% static 'user/style.css' %}" rel="stylesheet" />
</head>
<body>
<div class="topnav">
  <a class="active" href="/user/{{visited_user.id}}">Perfil</a>
  <div class="topnav-right">
	<a href="/user/seguidores/{{visited_user.id}}">Seguidores</a>
	<a href="/user/siguiendo/{{visited_user.id}}">Siguiendo</a>
  </div>
</div>

<div>
  {% load static %}
  <img src="{% static 'user/pfp.png' %}" width="200" height="200" alt="profile picture">
  <strong>{{ visited_user.username }}</strong>
 {% if current_user.id != visited_user.id %}
	<a href="/user/seguir/{{visited_user.id}}" id="seguir">Seguir</a>
  {% endif %}

</div>

</body>
</html>