<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Seguidores</title>
  <link href="/static/user/style.css" rel="stylesheet" />
</head>
<body>
<div class="topnav">
  <a class="active" href="/user/seguidores/{{id}}">Seguidores</a>
  <div class="topnav-right">
	<a href="/user/{{id}}">Perfil</a>
  </div>
</div>
  <ul>
  {% for seguidor in seguidores %}
  <li>
  <a href="/user/{{seguidor.user.id}}"><h4>{{ seguidor.user.username }}</h4></a>
  </li>
  {% endfor %}
  </ul>
</body>
</html>